---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/SEO.astro';
import '../styles/global.css';
import type { StructuredDataInput } from '../utils/StructuredData';

interface Props {
    title: string;
    description: string;
    noRobots: boolean;
    image?: any;
    structuredData?: StructuredDataInput[];
}

let { title, description, noRobots, image, structuredData } = Astro.props;
---

<!doctype html>
<html lang='en' class='font-inter'>
    <head>
        <!-- Google Tag Manager -->
        <!-- <script type='text/partytown' is:inline>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5KPJMQKT');
        </script> -->
        <!-- End Google Tag Manager -->
        <SEO
            title={title}
            description={description}
            url={Astro.url}
            image={image}
            structuredData={structuredData}
            noRobots={noRobots}
        />
    </head>
    <body class='flex min-h-dvh flex-col'>
        <!-- Google Tag Manager (noscript) -->
        <!-- <noscript
            ><iframe
                src='https://www.googletagmanager.com/ns.html?id=GTM-5KPJMQKT'
                height='0'
                width='0'
                style='display:none;visibility:hidden'></iframe></noscript
        > -->
        <!-- End Google Tag Manager (noscript) -->
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
